/*----------
   RESET
----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*--------
   GENERAL
--------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
/*-----------
   HEADER
------------*/
.header {
    background-color: #add8e6;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
.header .logo {
    width: 20%;
    background-color: #ffd700;
    text-align: center;
    padding: 10px;
}
.header .nav {
    width: 60%;
    display: flex;
    text-align: center;
    justify-content:space-between
    padding: 10px;
    background-color: #ffd700;
}
.header .login {
    width: 20%;
    background-color: #ffd700;
    text-align: center;
    padding: 10px;